{% extends "base.html.twig" %}

{% block title %}Edit Path{% endblock %}

{% block body %}
    <h1>Edit Path</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Update" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}