{% extends "base.html.twig" %}

{% block title %}New Path{% endblock %}

{% block body %}
    <h1>New Path</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
